################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

#Generated Nuget packages
*.nupkg

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

*.min.js
*.bak
*.map
*.min.css
eq.all.js
eq.all.css
easyquery.js


dist/
node_modules/
wwwroot/lib/

bin/**
obj/**
.vs/
!/
packages/

/src/mybuild.bat
/TestResults
/src/mybuild.bat
/test.bat
/scaffolding.config
/setvars.bat
/samples/EqAspNetCoreDemo/EqAspNetCoreClientDemo/bower_components
/samples/EQTest
/samples/EqAspNetCoreDemo01.Dev/App_Data/NWindSQL_backup.xml
/src/eqdm/Properties/launchSettings.json
/publish
/samples/EqAspNetCoreDemo01.Dev/App_Data/Queries/LastQuery.xml
/samples/AdvancedSearchDemo/bower_components
/samples/EqEfCoreDemo/bower_components
/Korzh.EasyQuery.Kernel.DEV.sln.GhostDoc.xml

#XMLDoc files
Korzh.EasyQuery.xml
Korzh.EasyQuery.*.xml
easyquery.js.map
easyquery.js
/samples/RazorUiTest/wwwroot/lib
/samples/EqEfCoreDemo/wwwroot/js/eq-filter.js
/samples/EqAspNetCoreDemo/wwwroot/js/adhoc-reporting.js
/samples/AdHocReportWithAuthDemo/wwwroot/js/adhoc-reporting.js
/samples/EqAspNetCoreDemo/Properties/PublishProfiles/GazdaWebApp - Web Deploy.pubxml
/samples/AdvancedSearchDemo/App_Data/dm-NWindSQL/queries
/test/TypicalEasyQueryWebProject/App_Data/dm-NwindSQL/queries
/samples/EqWinFormsDemo/App_Data/query1-subquery
/DataFiltering.cshtml
/sv.bat
/samples/EqAspNetCoreDemo/App_Data/dm-ModelSchema/queries
/samples/EqAspNetCoreDemo/App_Data/ModelSchema.xml
/samples/EqAspNetCoreDemo/wwwroot/css/eq.view.css
/samples/EqAspNetCoreDemo/wwwroot/css/eq.core.css
/samples/EqAspNetCoreDemo/wwwroot/js/easyreport.js
/samples/EqAspNetCoreDemo/App_Data/dm-ProLaw/queries
/UserTests/EasyQueryCoreMvc
/UserTests/TestQueryBuilder
/samples/EasyDataBasicDemo/wwwroot/js/easydata.js
